# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
out/
build/
dist/
target/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# Docker
docker-data/

# Java
*.class
*.jar
*.war

# OS
Thumbs.db
